<a href="/">Voltar</a>
<h2>Adicione uma nota: </h2>

<form action="/create" method="post">
  <div class="mb-3">
    <label for="title" class="form-label">Titulo:</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="O que você pretende fazer?" />

    <label for="title" class="form-label mt-2">Descrição:</label>
    <textarea name="" id="description" class="form-control" name="description"
      placeholder="Descreva melhor esta nota..."></textarea>
    <button class="btn btn-primary mt-2">Enviar</button>
  </div>
</form>